.intro__list {
  margin-left: 148px;
  padding: 0;
  max-width: 690px;

  font-weight: 400;
  font-size: 12px;
  line-height: 18px;
}

@media screen and (max-width: 1279px){
  .intro__list {
    margin-left: 48px;
  }
}

@media screen and (max-width: 1023px){
  .intro__list {
    margin-left: 24px;
    max-width: 720px;
  }
}

@media screen and (max-width: 767px){
  .intro__list {
    margin-left: 16px;
    min-width: 288px;
  }
}