.cover {
  margin: 92px 48px 0;
  padding: 0;
  max-width: 1184px;
  background-repeat: no-repeat;
  background-size: cover;
  aspect-ratio: 16/10;
  background-image: url(../../images/__background.png);
}

@media screen and (max-width: 1279px){
  .cover {
    margin: 92px 0 0;
    max-width: 1024px;
  }
}

@media screen and (max-width: 1023px){
  .cover {
    margin: 90px 0 0;
    max-width: 768px;
  }
}

@media screen and (max-width: 767px){
  .cover {
    margin-top: 66px;
  }
}