.cover__overlay {
  aspect-ratio: 16/10;
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  color: #FFFFFF;
  text-decoration: none;
  background-color: rgba(42, 44, 47, .3);
  transition: all .4s;
  text-align: center;
}

.cover__overlay:hover {
  background-color: rgba(42, 44, 47, .8);
}