.place {
  margin: 0;
  padding: 0;
  max-width: 984px;
  display: grid;
  gap: 48px 40px;
  grid-template-columns: 460px 1fr;
}

@media screen and (max-width: 1279px){
  .place {
    max-width: 928px;
    gap: 48px 32px;
    grid-template-columns: 440px 1fr;
  }
}

@media screen and (max-width: 1023px){
  .place {
    margin: 0;
    max-width: 720px;
    gap: 48px 28px;
    grid-template-columns: 340px 1fr;
  }
}

@media screen and (max-width: 767px){
  .place {
    margin: 0;
    min-width: 320px;
    gap: 32px 0;
    grid-template-columns: minmax(320px, 1fr);
  }
}