.place__url-heading {
  margin: 0 0 12px;
  padding: 0;
  font-weight: 400;
  font-size: 12px;
  line-height: 170%;
  color: #AAAA;
}

@media screen and (max-width: 1023px){
  .place__url-heading {
    font-weight: 400;
    font-size: 12px;
    line-height: 12px;
  }
}

@media screen and (max-width: 767px){
  .place__url-heading {
    margin: 0 16px 12px;
  }
}