.intro__title {
  margin: 92px 0 0 148px;
  padding: 0;
  max-width: 690px;

  font-weight: 900;
  font-size: 54px;
  line-height: 58px;
}

@media screen and (max-width: 1279px){
  .intro__title {
    margin-left: 48px;
  }
}

@media screen and (max-width: 1023px){
  .intro__title {
    margin: 88px 24px 0;
  }
}

@media screen and (max-width: 767px){
  .intro__title {
    margin: 64px 16px 0;
    font-size: 32px;
    line-height: 35px
  }
}